<%- include('./adminLayout/header') %>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/productImages/logoimages.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>

                <li class="menu-item active ">
                    <a class="menu-link" href="/admin/categorylist"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/Users"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">order</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/couponList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/offerList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                </div>
            </div>
            <div class="card">
                <div class="card-body offset-lg-3">
                    <div class="row">
                        <div class="col-md-8">
                            <form method="POST" action="/admin/addcategory" id="categoryForm">
                                <div class="mb-4">
                                    <label for="category_name" class="form-label"> Category Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="category_name" name="name">
                                    <span class="text-danger" id="categoryNameError"></span>
                                </div>
                                <script>
                                    const errorMessage = "<%= errorMessage %>";
                                    const errorMessageElement = document.getElementById('categoryNameError');
                                    if (errorMessage && errorMessage.trim() !== "") {
                                        errorMessageElement.textContent = errorMessage;
                                    }
                                </script>
                                <div class="mb-4">
                                    <label class="form-label">List Category</label>
                                    <select class="form-select" name="is_list" id="is_list">
                                        <option value="" disabled selected> List Category</option>
                                        <option  value="true">list</option>
                                        <option value="false">Unlist</option>
                                    </select>
                                    <span class="text-danger" id="isListError"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="description" rows="4" id="description"></textarea>
                                    <span class="text-danger" id="DescriptionError"></span>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            const categoryName = document.getElementById('category_name');
            const categoryForm = document.getElementById('categoryForm');
            const categoryNameError = document.getElementById('categoryNameError');
            categoryForm.addEventListener('submit', (e) => {
                const description = document.getElementById("description");
                const DescriptionError = document.getElementById('DescriptionError')
                const isListSelect = document.getElementById('is_list');
                const isListError = document.getElementById('isListError');
                if (categoryName.value.trim() === '' || categoryName.value === null) {
                    e.preventDefault();
                    categoryNameError.innerHTML = "Category name is required";
                } else {
                    categoryNameError.innerHTML = "";
                }
                if (description.value.trim() === '') {
                    e.preventDefault();
                    DescriptionError.innerHTML = "Description is required";

                } else if (description.value.trim().length < 20) {
                    e.preventDefault();
                    DescriptionError.innerHTML = "Description should be at least 20 characters";
                } else {
                    DescriptionError.innerHTML = "";
                }
                if (isListSelect.value === '') {
                    e.preventDefault();
                    isListError.innerHTML = "Please select a list category";
                } else {
                    isListError.innerHTML = "";
                }
            });
        </script>

        <%- include('./adminLayout/footer') %>