<%- include('./adminLayout/header') %>


    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="menu-item active">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categorylist"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                </li>

                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">order</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/couponList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Coupon</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/offerList"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Offers</span>
                    </a>
                    
                </li>

        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                   
                   
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                           
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>

                        <div>
                            <button type="submit" class="btn btn-primary btn-sm rounded"
                                onclick=" return validateForm()">Add Product</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form method="POST" action="/admin/productAdd" id="productForm"
                                enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="producttitle"
                                        name="product_title">
                                    <span class="text-danger" id="product_titleError"></span>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" id="Description"
                                        name="Description"></textarea>
                                    <span class="text-danger" id="DescriptionError"></span>
                                </div>

                                <div class="mb-4">
                                    <label for="Stock" class="form-label">Stock</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="stock"
                                        name="Stock">
                                    <span class="text-danger" id="StockError"></span>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="text" class="form-control"
                                                    id="regularPrice" name="regularPrice">
                                                <span class="text-danger" id="regularPriceError"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Promotional price</label>
                                            <input placeholder="$" type="text" class="form-control"
                                                id="promotionalPrice" name="promotionalPrice">
                                            <span class="text-danger" id="promotionalPriceError"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="category" id="category">
                                        <option value="" disabled selected>Select Category</option>
                                        <% category.forEach(cat=> { %>
                                            <option value="<%= cat._id %>">
                                                <%= cat.name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <span class="text-danger" id="CategoryError"></span>
                                </div>


                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                          
                                <input type="file" id="images" name="images" multiple accept="image/*" onchange="previewImages(event)">
                                <span class="text-danger" id="imageError"></span>
                            </div>
                            <div id="imagePreview"></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


                <script>
                    async function previewImages(event) {
                        var previewArea = document.getElementById('imagePreview');
                        previewArea.innerHTML = ''; // Clear previous preview
                
                var files = event.target.files;
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    var reader = new FileReader();
        
                    reader.onload = async function(e) {
                        var imageContainer = document.createElement('div');
                        imageContainer.className = 'image-container';
        
                        var image = document.createElement('img');
                        image.src = e.target.result;
        
                        // Set image width and height for better display
                        image.style.width = '100px';
                        image.style.height = 'auto';
        
                        image.className = 'preview-image';
                        imageContainer.appendChild(image);
        
                        var deleteButton = document.createElement('button');
                        deleteButton.textContent = 'Delete';
                        deleteButton.className = 'btn btn-danger btn-sm mt-2';
                        deleteButton.onclick = function() {
                            deleteImage(imageContainer);
                        };
                        imageContainer.appendChild(deleteButton);
        
                        previewArea.appendChild(imageContainer);
                    };
        
                    reader.readAsDataURL(file);
                }
            }
        
            function deleteImage(imageContainer) {
                imageContainer.remove();
               
            }
                </script>


        <script>
            function validateForm() {

                var producttitle = document.getElementById("producttitle");
                var Description = document.getElementById("Description");
                var regularPrice = document.getElementById("regularPrice");
                var promotionalPrice = document.getElementById("promotionalPrice");
                var stock = document.getElementById("stock");
                var category = document.getElementById("category");
                var productForm = document.getElementById("productForm");
                var images = document.getElementById("images")

                let producttitleError = document.getElementById('product_titleError');
                let DescriptionError = document.getElementById('DescriptionError');
                let regularPriceError = document.getElementById('regularPriceError');
                let promotionalPriceError = document.getElementById('promotionalPriceError');
                let StockError = document.getElementById('StockError');
                let CategoryError = document.getElementById("CategoryError");
                let imageError = document.getElementById("imageError")

                if (producttitle.value.trim() === '' || producttitle.value === 'null') {
                    producttitleError.innerHTML = "productName is required";
                } else {
                    producttitleError.innerHTML = "";
                }

                if (Description.value.trim() === '') {
                    DescriptionError.innerHTML = "Description is required";
                } else if (Description.value.trim().length <= 20) {
                    DescriptionError.innerHTML = "Description should be more than 20 characters";
                } else {
                    DescriptionError.innerHTML = "";
                }

                if (stock.value.trim() === '') {
                    StockError.innerHTML = "Stock quantity is required";
                } else if (isNaN(stock.value.trim()) || stock.value.trim() <= 0) {
                    StockError.innerHTML = "Invalid stock quantity";
                } else {
                    StockError.innerHTML = "";
                }

                if (regularPrice.value.trim() === '') {
                    regularPriceError.innerHTML = "regularPrice is required";
                } else if (isNaN(regularPrice.value.trim()) || regularPrice.value.trim() <= 0) {
                    regularPriceError.innerHTML = "Invalid regularPrice";
                } else {
                    regularPriceError.innerHTML = "";
                }

                if (promotionalPrice.value.trim() === '') {
                    promotionalPriceError.innerHTML = "promotionalPrice is required";
                } else if (isNaN(promotionalPrice.value.trim()) || promotionalPrice.value.trim() <= 0) {
                    promotionalPriceError.innerHTML = "Invalid promotionalPrice";
                } else {
                    promotionalPriceError.innerHTML = "";
                }

                if (category.value.trim() === '') {
                    CategoryError.innerHTML = "Please select a category";
                } else {
                    CategoryError.innerHTML = "";
                }

                if (images.files.length === 0) {
                    imageError.innerHTML = "Please upload an image";
                } else {
                    imageError.innerHTML = "";
                }


                // Submit the form if all validations pass
                if (producttitleError.innerHTML === "" && DescriptionError.innerHTML === "" && regularPriceError.innerHTML === "" && promotionalPriceError.innerHTML === "" && StockError.innerHTML === "" && CategoryError.innerHTML === "" && imageError.innerHTML === "") {
                    productForm.submit();
                }
            }
            console.log('form validated')
        </script>

        <%- include('./adminLayout/footer') %>