<%- include('../user/userLayout/header') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">

            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container offset-lg-3">
                <div class="row">
                    <div class="col-lg-10 m-auto ">
                        <div class="row">
                            <div class="col-lg-5">
                                <div
                                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1 text-center">
                                            <h3 class="mb-30">New Password</h3>
                                        </div>
                                        <form id="passwordForm" method="post" >

                                            <input type="hidden" name="email" value="<%= email %>">
                                            <div class="input-group">
                                                <input type="text" name="pass" class="form-control" id="password"
                                                    placeholder="Enter New Password">
                                            </div>
                                            <span class="text-danger" id="password_error"></span>

                                            <br>
                                            <div class="input-group">
                                                <input type="text" name="conpass" class="form-control"
                                                    id="confirmpassword" placeholder="Enter Confrim Password">

                                            </div>
                                            <span class="text-danger" id="confirmpassword_error"></span>
                                            <br>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>

                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>

        const password = document.getElementById('password')
        const confirmpassword = document.getElementById("confirmpassword");


        const password_error = document.getElementById('password_error');
        const confirmpassword_error = document.getElementById('confirmpassword_error');


        passwordForm.addEventListener('submit', (e) => {


            if (password.value.trim() === '') {
                e.preventDefault();
                password_error.innerHTML = "Enter the password";
            } else {
                password_error.innerHTML = "";
            }


            if (confirmpassword.value !== password.value) {
                e.preventDefault();
                confirmpassword_error.innerHTML = "Passwords do not match";
            } else {
                confirmpassword_error.innerHTML = "";
            }
            if (!password_error.innerHTML && !confirmpassword_error.innerHTML) {
                window.location.href = "/login";
            }
            e.submit()

        });


    </script>