<%- include('../user/userLayout/header') %>

    <section class="pt-150 pb-150">
        <div class="container offset-lg-3">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                <div class="padding_eight_all bg-white">

                                    <div class="heading_s1">
                                        <h3 class="mb-30 text-center">Sign up</h3>
                                    </div>

                                    <form id="form" method="POST" action="/register">

                                        <div class="form-group">
                                            <input type="text" name="username" placeholder="userName"
                                                class="form-control" id="username">
                                            <span style="color: red;" id="username_error"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Email" class="form-control"
                                                id="email">
                                            <span style="color: red;" id="email_error"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="mno" placeholder="Phone" class="form-control"
                                                id="mno">
                                            <span style="color: red;" id="mno_error"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="password" placeholder="Password"
                                                class="form-control" id="password">
                                            <span style="color: red;" id="password_error"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="confirmpassword"
                                                placeholder=" confirm Password" class="form-control"
                                                id="confirmpassword">
                                            <span style="color: red;" id="confirmpassword_error"></span>
                                        </div>

                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up ">Submit
                                            </button>
                                        </div>

                                    </form>
                                    <div class="divider-text-center mt-15 mb-15">
                                        <span> or</span>
                                    </div>
                                    <ul class="btn-login list_none text-center mb-15">
                                        <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                                        <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                                    </ul>

                                    <div class="text-muted text-center">Already have an account? <a href="#">Login in
                                            now</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        const username = document.getElementById("username");
        const email = document.getElementById("email");
        const mno = document.getElementById("mno");
        const password = document.getElementById("password");
        const confirmpassword = document.getElementById("confirmpassword");
        const form = document.getElementById("form");

        const username_error = document.getElementById('username_error');
        const email_error = document.getElementById('email_error');
        const password_error = document.getElementById('password_error');
        const mno_error = document.getElementById('mno_error');
        const confirmpassword_error = document.getElementById('confirmpassword_error');

        form.addEventListener('submit', (e) => {

            var email_check = /^([A-Za-z0-9_\-\.])+@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,})$/;
            var mno_check = /^[0-9]{10}$/;
            // var pass_check = /^(?=.[a-z])(?=.[A-Z]).{8,}$/;


            if (username.value.trim() === '' || username.value === 'null') {

                e.preventDefault();
                username_error.innerHTML = "Name is required";
            }
            else {
                username_error.innerHTML = "";
            }


            if (!email.value.match(email_check)) {

                e.preventDefault();
                email_error.innerHTML = "Valid Email is required";

            } else {
                email_error.innerHTML = "";
            }

            if (password.value.trim() === '') {
                e.preventDefault();
                password_error.innerHTML = "Enter the password";
            // } else if (!password.value.match(pass_check)) {
            //     password_error.innerHTML = "enter password with 8 characters";
            } else if (password.value === 'password') {
                e.preventDefault();
                password_error.innerHTML = "Password cannot be 'password'";
            } else if (confirmpassword.value !== password.value) {
                e.preventDefault();
                confirmpassword_error.innerHTML = "Passwords do not match";
            } else {
                confirmpassword_error.innerHTML = "";
            }


            if (!mno.value.match(mno_check)) {

                e.preventDefault();
                mno_error.innerHTML = "Please enter a valid 10-digit phone number";

            } else {
                mno_error.innerHTML = "";
            }
        })
    </script>

    <% - include('../user/userLayout/footer') %>